div.mydiv {
    padding: 5px;
    display: flex;
    background-color: red;
  }
  
  div.mydiv1 {
    display: flex;
    width: 50%;
    background-color: aqua;
    justify-content: center;   
    align-items: center;     
  }
  
  div.mydiv2 {
    display: flex;
    width: 50%;
    background-color: rgb(55, 0, 255);
    justify-content: center;   
    align-items: center;       
  }
  
  .lion, .tig {
    max-width: 100%;     
    height: auto;       
    display: block;     
    object-fit: contain; }
  